.btnCreatePost,
.btnCreateSubreddit {
  margin-top: 5px;
  background-color: #333;
  border-color: #555;
  color: #f0f0f0;
}

.post-form {
  margin: 2px;
  background-color: #333;
  color: #f0f0f0;
}

.comment-notification {
  margin-top: 5px;
  background-color: #444;
  color: #f0f0f0;
}

.create-post-container {
  margin-top: 10px;
  --post-line-color: #555;
  border: 1px solid #555;
  background-color: rgba(30, 30, 30, 0.9);
  color: #ddd;
  border-radius: 16px;
  padding: 10px;
  /* display: flex;
  /* align-items: center; */
  /* justify-content: center;  */
}

/* .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.btnDiscard {
  fill: #ddd;
  border: 1px solid #555;
  background-color: #333;
  color: #ddd;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 16px;
  width: 288px;
  height: 34px;
  margin-top: 5px;
  border-radius: 16px;
}

.create-post-heading {
  font-size: 18px;
  font-weight: 500;
  color: #f0f0f0;
  text-align: center;
}

.btnCreatePost {
  background-color: #444;
  border-color: #555;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 16px;
  width: 288px;
  height: 34px;
  border-radius: 16px;
}

.form-control{
  text-align: center;

}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}