.body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-subreddit-container {
  margin-top: 10px;
  --post-line-color: #555;
  border: 1px solid #555;
  background-color: rgba(30, 30, 30, 0.9);
  color: #ddd;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 10px;
  width: 80%;
}

.create-subreddit-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #f0f0f0;
  flex: 1;
  text-align: center;
}

.btnCreateSubreddit {
  background-color: #444;
  border-color: #555;
  color: #f0f0f0;
  fill: #444;
  border: 1px solid #555;
  border-radius: 16px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  width: 288px;
  height: 34px;
}

.btnDiscard {
  fill: #ddd;
  border: 1px solid #555;
  background-color: #333;
  color: #ddd;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 16px;
  width: 288px;
  height: 34px;
  margin-top: 5px;
  border-radius: 16px;
}

.guidelines {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #f0f0f0;
}

.sidebar {
  width: 312px;
  height: 242px;
  --post-line-color: #555;
  border: 1px solid #555;
  background-color: rgba(30, 30, 30, 0.9);
  color: #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 10px;
  position: sticky;
}
