<div class="container">
    <div class="body">
      <div class="create-subreddit-container">
        <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
          <div class="form-group">
            <div class="create-subreddit-heading">Create Thread</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px; text-align: center;"
              placeholder="Title">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px; text-align: center; border-radius: 20px; min-height: 180px;"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px; display: flex; justify-content: end; gap: 12px; align-items: center;">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateSubreddit">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <h5 class="guidelines">Posting to Campus Threads</h5>
          <hr />
          <ul>
            <li>Maintain the integity of the Institute</li>
            <hr />
            <li>Be mindful of others' personal space</li>
            <hr />
            <li>Kindly don't spam messages</li>
            <hr />
          </ul>
        </div>
      </div>
    </div>
  </div>
